<div class="RedComponentContainerButtons">
    <button type="button" class="RedComponentToolBarButtons {{this.baseRedComponent.state == 'S' ? 'RedDisplayBottoms' : 'RedHiddeBottoms'}}"
        (click)="this.baseRedComponent.goBrowser()">
        <i class="fas fa-reply"></i>
    </button>
    <button type="button" class="RedComponentToolBarButtons {{this.baseRedComponent.state == 'S' ? 'RedDisplayBottoms' : 'RedHiddeBottoms'}}"
        (click)="this.baseRedComponent.changeState('R')">
        <i class="fas fa-plus"></i>
    </button>
    <button type="button" class="RedComponentToolBarButtons {{this.baseRedComponent.state == 'S' ? 'RedDisplayBottoms' : 'RedHiddeBottoms'}}"
        (click)="this.baseRedComponent.changeState('E')">
        <i class="far fa-edit"></i>
    </button>
    <button type="button" class="RedComponentToolBarButtons {{this.baseRedComponent.state == 'S' ? 'RedDisplayBottoms' : 'RedHiddeBottoms'}}"
        (click)="this.baseRedComponent.changeState('D')">
        <i class="fas fa-eraser"></i>
    </button>
    <button type="submit" class="RedComponentToolBarButtons {{this.baseRedComponent.state == 'R' || this.baseRedComponent.state == 'E' ? 'RedDisplayBottoms' : 'RedHiddeBottoms'}}">
        <i class="far fa-thumbs-up"></i>
    </button>
    <button type="button" class="RedComponentToolBarButtons {{this.baseRedComponent.state == 'R' || this.baseRedComponent.state == 'E' ? 'RedDisplayBottoms' : 'RedHiddeBottoms'}}"
        (click)="this.baseRedComponent.cancel()">
        <i class="far fa-thumbs-down"></i>
    </button>
    <button type="button" class="RedComponentToolBarButtons {{this.baseRedComponent.state == 'S' ? 'RedDisplayBottoms' : 'RedHiddeBottoms'}}"
        (click)="this.baseRedComponent.first()">
        <i class="fas fa-fast-backward"></i>
    </button>
    <button type="button" class="RedComponentToolBarButtons {{this.baseRedComponent.state == 'S' ? 'RedDisplayBottoms' : 'RedHiddeBottoms'}}"
        (click)="this.baseRedComponent.prev()">
        <i class="fas fa-step-backward"></i>
    </button>
    <button type="button" class="RedComponentToolBarButtons {{this.baseRedComponent.state == 'S' ? 'RedDisplayBottoms' : 'RedHiddeBottoms'}}"
        (click)="this.baseRedComponent.loadElement()">
        <i class="fas fa-sync-alt"></i>
    </button>
    <button type="button" class="RedComponentToolBarButtons {{this.baseRedComponent.state == 'S' ? 'RedDisplayBottoms' : 'RedHiddeBottoms'}}"
        (click)="this.baseRedComponent.next()">
        <i class="fas fa-step-forward"></i>
    </button>
    <button type="button" class="RedComponentToolBarButtons {{this.baseRedComponent.state == 'S' ? 'RedDisplayBottoms' : 'RedHiddeBottoms'}}"
        (click)="this.baseRedComponent.last()">
        <i class="fas fa-fast-forward"></i>
    </button>
</div>