<div class="ToastComponent">
    <ng-container *ngFor="let msg of this.messages">
        <div class="ToastComponentMessage {{msg.styleClassDiv}}" [style.z-index]="msg.zindex">
            <div class="ToastComponentMessageIcon">
                <div class="ToastComponentMessageIconClose">
                    <button class="ToastComponentMessageIconClose" type="button" (click)="this.closeMessage(msg)">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="ToastComponentMessageText">
                <div class="ToastComponentMessageTextContent">{{msg.message}}</div>
            </div>
        </div>
    </ng-container>
</div>