<div class="BrowserComponent">
    <!-- This is a filters for browsers -->

    <!-- This is a toolbar for browser -->
    <div class="BrowserComponentContainer">
        <div class="BrowserComponentContainerButtons">
            <button type="button" class="BrowserComponentToolBarButtons" (click)="this.baseBrowserComponent.lazyTable.refresh()"><i
                    class="fas fa-sync-alt"></i></button>
            <button type="button" class="BrowserComponentToolBarButtons" (click)="this.baseBrowserComponent.lazyTable.resetOrders()"><i
                    class="fas fa-sort"></i></button>
            <button pButton icon="fas fa-recycle" class="BrowserComponentToolBarButtons" (click)="this.baseBrowserComponent.lazyTable.resetTable()"><i
                    class="fas fa-recycle"></i></button>
            <button type="button" class="BrowserComponentToolBarButtons" (click)="this.baseBrowserComponent.lazyTable.applyFilters()"><i
                    class="fas fa-search-plus"></i></button>
            <button type="button" class="BrowserComponentToolBarButtons" (click)="this.baseBrowserComponent.lazyTable.resetFilters()"><i
                    class="fas fa-search-minus"></i></button>
            <button type="button" class="BrowserComponentToolBarButtons" (click)="this.baseBrowserComponent.lazyTable.goActions('R', null, 0)"><i
                    class="fas fa-plus"></i></button>
            <button type="button" class="BrowserComponentToolBarButtonsRight" (click)="this.baseBrowserComponent.goConfigBrowser()"><i
                    class="fas fa-cog"></i></button>
        </div>
    </div>
    <!-- This is a table for browser -->
    <div class="BrowserComponentContainerTable">
        <rf-table [lazy]="true" [columnsTable]="this.baseBrowserComponent.columnsLazyTable" [componentLazy]="this.baseBrowserComponent"
            [renderedSelect]="this.baseBrowserComponent.modal">
        </rf-table>
    </div>
</div>