.InputTextButtonComponentCardDiv{
    float: left !important;
    margin: 0 !important;
    padding: 0 !important;
}

.InputTextButtonComponentCardDivItem{
    float: left !important;
    margin: 0 !important;
    padding: 0 !important;
}

.InputTextButtonComponentButtons{
    width: 30px !important;
    height: 30px !important;
    color: #3F51B5 !important;
    background-color: transparent !important;
    border: none !important;
    float: left;
    cursor: pointer;
    margin-top: 14px;
}

.InputTextButtonComponentButtons:focus{
    border: none !important;
    outline: none !important;
}

