.ModalDesktopComponent{
    float: left;
    position: absolute;
    width: calc(100% - 7px);
    height: calc(100% - 7px);
    border: 2px solid gray;
    margin-left: 2px;
    margin-top: 2px;
}
.ModalDesktopComponentHeader{
    float: left;
    height: 30px;
    background: #0e090a;
    width: 100%;
}

.ModalDesktopComponentHeaderButtons{
    float: right;
    height: 100%;
}

.ModalDesktopComponentHeaderButtonsClose, .ModalDesktopComponentHeaderButtonsMin{
    font-size: 23px;
    background: #ff3d00bf;
    /* opacity: 0.8; */
    color: whitesmoke;
    border: none;
    padding-top: 2px;
    outline: none;
}

.ModalDesktopComponentHeaderButtonsMin{
    background: blue
}

.ModalDesktopComponentHeaderButtonsClose:hover, .ModalDesktopComponentHeaderButtonsMin:hover{
    outline: none;
    background: whitesmoke;
    color: #ff3d00bf;
    cursor: pointer;
}

.ModalDesktopComponentHeaderButtonsMin:hover{
    color: blue
}

.ModalDesktopComponentBody{
    float: left;
    width: 100%;
    height: calc(100% - 30px);
    background: transparent;
    /* background: whitesmoke;
    opacity: 0.5; */
}