<div class="MenuComponent">
    <!--Series 0 -->

    <rf-menuitem [idMenu]="'menu_animes'" [menuComponent]="this" [label]="'i18nAppMenu.i18n_rf_animes' | rftranslate"></rf-menuitem>
    <rf-menuitem [idMenu]="'menu_animes_categorias'" [menuComponent]="this" [menuItem]="this.menuItems[0]" [label]="'i18nAppMenu.i18n_rf_animes_categorias' | rftranslate"
        [level]="1" [routeId]="'animes_categorias'"></rf-menuitem>
    <rf-menuitem [idMenu]="'menu_animes_series'" [menuComponent]="this" [menuItem]="this.menuItems[0]" [label]="'i18nAppMenu.i18n_rf_animes_series' | rftranslate"
        [level]="1" [routeId]="'animes_series'"></rf-menuitem>

    <!--Series 0 -->

    <!--Almacen 1 -->

    <rf-menuitem [idMenu]="'menu_almacenes'" [menuComponent]="this" [label]="'i18nAppMenu.i18n_rf_almacenes' | rftranslate"></rf-menuitem>
    <rf-menuitem [idMenu]="'menu_almacenes_almacen'" [menuComponent]="this" [menuItem]="this.menuItems[1]" [label]="'i18nAppMenu.i18n_rf_almacenes_almacen' | rftranslate"
        [level]="1" [routeId]="'almacenes_almacen'"></rf-menuitem>
    <rf-menuitem [idMenu]="'menu_almacenes_articulos'" [menuComponent]="this" [menuItem]="this.menuItems[1]" [label]="'i18nAppMenu.i18n_rf_almacenes_articulos' | rftranslate"
        [level]="1" [routeId]="'almacenes_articulos'"></rf-menuitem>
    <rf-menuitem [idMenu]="'menu_almacenes_categorias'" [menuComponent]="this" [menuItem]="this.menuItems[1]" [label]="'i18nAppMenu.i18n_rf_almacenes_categorias' | rftranslate"
        [level]="1" [routeId]="'almacenes_categorias'"></rf-menuitem>
    <rf-menuitem [idMenu]="'menu_almacenes_despensas'" [menuComponent]="this" [menuItem]="this.menuItems[1]" [label]="'i18nAppMenu.i18n_rf_almacenes_despensa' | rftranslate"
        [level]="1" [routeId]="'almacenes_despensas'"></rf-menuitem>

    <!--Almacen 1 -->

    <!--Gym 2 -->

    <rf-menuitem [idMenu]="'menu_gym'" [menuComponent]="this" [label]="'i18nAppMenu.i18n_rf_gym' | rftranslate"></rf-menuitem>
    <rf-menuitem [idMenu]="'menu_gym_ejercicios'" [menuComponent]="this" [menuItem]="this.menuItems[2]" [label]="'i18nAppMenu.i18n_rf_gym_ejercicios' | rftranslate"
        [level]="1" [routeId]="'gym_ejercicios'"></rf-menuitem>
    <rf-menuitem [idMenu]="'menu_gym_categorias'" [menuComponent]="this" [menuItem]="this.menuItems[2]" [label]="'i18nAppMenu.i18n_rf_gym_categorias' | rftranslate"
        [level]="1" [routeId]="'gym_categorias'"></rf-menuitem>

    <!--Gym 2 -->

    <!--Games 3 -->

    <rf-menuitem [idMenu]="'menu_games'" [menuComponent]="this" [label]="'i18nAppMenu.i18n_rf_games' | rftranslate"></rf-menuitem>
    <rf-menuitem [idMenu]="'menu_games_juegos'" [menuComponent]="this" [menuItem]="this.menuItems[3]" [label]="'i18nAppMenu.i18n_rf_games_juegos' | rftranslate"
        [level]="1" [routeId]="'games_juegos'"></rf-menuitem>
    <rf-menuitem [idMenu]="'menu_games_categorias'" [menuComponent]="this" [menuItem]="this.menuItems[3]" [label]="'i18nAppMenu.i18n_rf_games_categorias' | rftranslate"
        [level]="1" [routeId]="'games_categorias'"></rf-menuitem>
    <rf-menuitem [idMenu]="'menu_games_plataformas'" [menuComponent]="this" [menuItem]="this.menuItems[3]" [label]="'i18nAppMenu.i18n_rf_games_plataformas' | rftranslate"
        [level]="1" [routeId]="'games_plataformas'"></rf-menuitem>

    <!--Games 3 -->

</div>