.ConfigBrowserModalComponent{
    width: 100%;
    height: 100%;
    float: left;
}

.ConfigBrowserModalComponentAcciones{
    float: left;
    width: calc(100% - 40px);
    box-sizing: border-box;
    margin: 20px;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}

.ConfigBrowserModalComponentAccionesButtons{
    width: 30px !important;
    height: 30px !important;
    color: #3F51B5 !important;
    background-color: transparent !important;
    border: none !important;
    float: left;
    cursor: pointer;
}

.ConfigBrowserModalComponentAccionesButtons:focus{
    border: none !important;
    outline: none !important;
}

.ConfigBrowserModalComponentPickList{
    float: left;
    widows: 100%;
}
.ConfigBrowserModalComponentItemsContainer{
    float: left;
    width: calc(100% - 40px);
    box-sizing: border-box;
    margin: 20px;
    margin-top: 0px !important;
}
.ConfigBrowserModalComponentItems{
    float: left;
    margin-right: 10px;
}

