.TabViewComponentBodyItem{
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}

.TabViewComponentBodyItemContent{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    float: left;
}

.TabViewComponentBodyItemModals{
    display: block;
}

.TabViewComponentBodyItemVisible{
    display: block;
}

.TabViewComponentBodyItemInVisible{
    display: none;
}

.TabViewComponentBodyLoading{
    position: fixed;
    height: 100%;
    width: 100%;
    /*background: rgba(0, 0, 0, 0.4);*/
    background: transparent;
}
