<div class="ConfirmationComponent">
    <div class="ConfirmationComponentMessage">
        {{this.messageConfirmation | rftranslate }}
    </div>
    <div class="ConfirmationComponentAcctions">
        <button type="button" class="ConfirmationComponentModalButtons ConfirmationComponentModalButtonsFirst" (click)="this.accept()">
            <i class="far fa-thumbs-up"></i>
        </button>
        <button type="button" class="ConfirmationComponentModalButtons" (click)="this.cancel()">
            <i class="far fa-thumbs-down"></i>
        </button>
    </div>
</div>