.CheckBoxComponentCardDiv{
    float: left !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-left: 5px !important;
    margin-top: 2px !important;
}

.CheckBoxComponentCard {
    display: block;
    position: relative;
    /*padding-left: 35px;*/
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 14px;
}

/* Hide the browser's default checkbox */
.CheckBoxComponentCard input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.CheckBoxComponentCardCheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid #bdbdbd;
}

/* On mouse-over, add a grey background color */
.CheckBoxComponentCard:hover input ~ .CheckBoxComponentCardCheckmark {
    border: 1px solid #3F51B5;
}

/* When the checkbox is checked, add a blue background */
.CheckBoxComponentCard input:checked ~ .CheckBoxComponentCardCheckmark {
    background-color: #3F51B5;
}

.CheckBoxComponentCard input:disabled ~ .CheckBoxComponentCardCheckmark {
    opacity: .70;
}

.CheckBoxComponentCard:hover input:disabled ~ .CheckBoxComponentCardCheckmark {
    border: 1px solid #bdbdbd;
    cursor: default;
}

/* Create the checkmark/indicator (hidden when not checked) */
.CheckBoxComponentCardCheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.CheckBoxComponentCard input:checked ~ .CheckBoxComponentCardCheckmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.CheckBoxComponentCard .CheckBoxComponentCardCheckmark:after {
    left: 7px;
    top: 4px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.CheckBoxDivInput{
    float: left;
    margin: 0;
    padding: 0;
}

.CheckBoxLabel{
    float: left;
    margin-left: 26px;
    margin-top: 2px;
    margin-right: 2px;
}

/*.CheckBoxComponentCard:focus, .CheckBoxComponentCardError:focus{
   
}

.CheckBoxComponentError{
    
}

.CheckBoxComponentError:focus {
   
}

.CheckBoxComponentCard:disabled {
   
}*/


