.FileComponent{
    float: left;
    margin-left: 5px;
}

.FileComponentLabel{
    float: left;
    padding: 5px;
    border: 1px solid #c4a9a9;
    background: #3F51B5;
    color: white;
    cursor: pointer;
}

.FileComponentInput{
    float: left;
    display: none;
}