.InputTextComponentCardDiv{
    float: left !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-left: 5px !important;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}
.InputTextComponentCard, .InputTextComponentCardError{
    background: transparent no-repeat !important;
    background-image: linear-gradient(to bottom, #3F51B5, #3F51B5), linear-gradient(to bottom, #bdbdbd, #bdbdbd) !important; 
    background-size: 0 2px, 100% 1px !important;
    background-position: 50% 100%, 50% 100% !important;
    border-width: 0 !important;
    padding: 2px !important;
    font-size: 1em !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    outline: none !important;
    float: left !important;
    clear: both;
}

.InputTextComponentCard:focus, .InputTextComponentCardError:focus{
    background-image: linear-gradient(to bottom, #bdbdbd, #bdbdbd), linear-gradient(to bottom, #3F51B5, #3F51B5) !important;
    background-size: 0 2px, 100% 2px !important; 
}

.InputTextComponentCardError{
    background-image: linear-gradient(to bottom, #3F51B5, #3F51B5), linear-gradient(to bottom,  red, red) !important; 
}

.InputTextComponentCardError:focus {
    background-image: linear-gradient(to bottom, #bdbdbd, #bdbdbd), linear-gradient(to bottom, red,  red) !important;
}

.InputTextComponentCard:disabled {
    opacity: .70;
}

.InputTextComponentLabel{
    float: left;
}


