<div class="TabViewComponentBodyItem {{this.tabView.active ? 'TabViewComponentBodyItemVisible' : 'TabViewComponentBodyItemInVisible'}}">

    <rf-toast [tabView]="this.tabView"></rf-toast>

    <div class="TabViewComponentBodyLoading {{this.loading ? 'TabViewComponentBodyItemVisible' : 'TabViewComponentBodyItemInVisible'}}"
        [style.z-index]="this.zindex"></div>

    <div class="TabViewComponentBodyItemContent" #tabViewBodyContent>

    </div>

    <div class="TabViewComponentBodyItemModals" #tabViewModalsContent>

    </div>
</div>