<div class="TabViewComponentHeaderItem {{this.tabView.active ? 'TabViewComponentHeaderItemActive' : ''}}">
    <div class="TabViewComponentHeaderItemLabel {{this.tabView.active ? 'TabViewComponentHeaderItemLabelActive' : ''}}">
        <div class="TabViewComponentHeaderItemLabelContent" (click)="this.selectTab()">{{this.tabView.label}}</div>
        <button class="TabViewComponentHeaderItemClose" type="button" (click)="this.closeTab()">
            <i class="fas fa-times"></i>
        </button>
    </div>
</div>
