.LoginComponent{
    width: 100%;
    height: 100%;
    float: left;
    clear: left;
    background-color: aquamarine;
}

.LoginComponentDivContainer{
    text-align: center;
    width: 350px;
    min-height: 440px;
    padding: 50px 20px;
    margin: 100px auto 0 auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #ffffff;
    padding: 1em;
    margin-bottom: 1em;
    box-sizing: border-box;
}

.LoginButtonComponent{
    overflow: hidden;
    background-color: #3F51B5;
    color: #ffffff;
    font-size: 1em;
    height: 2.25em;
    padding: 0 1em;
    border: 0 none;
    -moz-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    vertical-align: middle;
    margin-top: 20px;
}

.LoginButtonComponentLabel{
    margin-left: 5px;
}