.LinesComponentButtons{
    width: 30px !important;
    height: 30px !important;
    color: #3F51B5 !important;
    background-color: transparent !important;
    border: none !important;
    float: left;
    cursor: pointer;
}

.LinesComponentButtons:focus{
    border: none !important;
    outline: none !important;
}
