.MenuComponent{
    float: left;
    width: 150px;
    margin-top: 50px;
    height: calc(100% - 50px);
    background-color: rgba(0,0,0,.5);
    border-right: 4px solid rgba(255,255,255,.1);
    box-sizing: border-box;
}