.QuickAccessComponent{
    width: 80px;
    height: 105px;
    overflow: hidden;
    float: left;
    margin: 10px;
    cursor: pointer;
    z-index: 1;
}

.QuickAccessComponentIcon{
    background-image: url('../../../resources/images/no-photo.png');
    background-size: 80px;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    float: left;
    clear: both;
}

.QuickAccessComponentTtile{
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    float: left;
    clear: both;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    color: wheat;
}