
.HeaderComponent{
    float: left;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    background-color: #3F51B5;
    position: fixed;
    z-index: 9999999999999;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.BotonCerrarPestanasDiv{
    margin-left: 20px;
}

.BotonCerrarPestanas{
    width: 200px !important;
    height: 30px !important;
    color: white !important;
    background-color: transparent !important;
    border: none !important;
    float: left;
    cursor: pointer;
    /* margin-top: 24px; */
    /* margin-bottom: 20px; */
    margin-top: 8px;
    text-align: left;
    font-size: 20px;
}

.BotonCerrarPestanas:focus{
    border: none !important;
    outline: none !important;
}

.BotonCerrarSesionDiv{
    float: right;
}
