<div class="HeaderComponent">
    <div class="BotonCerrarPestanasDiv">
        <button type="button" class="BotonCerrarPestanas" (click)="this.dashBoardComponent.closeTabs()"><i class="far fa-trash-alt"></i>&nbsp;{{'i18nAppCore.i18nComponents.i18n_genericos_cerrar_pestanas'
            |rftranslate}}
        </button>
    </div>
    <div class="BotonCerrarSesionDiv">
        <button type="button" class="BotonCerrarPestanas" (click)="this.dashBoardComponent.closeSession()"><i class="fas fa-power-off"></i>&nbsp;{{'i18nAppCore.i18nComponents.i18n_genericos_cerrar_session'
            |rftranslate}}
        </button>
    </div>
</div>