.BodyComponent{
    float: left;
    width: calc(100% - 155px);
    height: calc(100% - 55px);
    margin-top: 5px;
    margin-left: 5px;
    background-color: rgba(0,0,0,.5);
    box-sizing: border-box;
}