<div class="{{this.styleClass}}">
    <div class="LoginComponentDivContainer">
        <rf-inputtext name="username" [(ngModel)]="this.loginModel['username']" [model]="this.loginModel"
            [property]="'username'" [required]="true" [size]="30" [label]="'i18nAppCore.login.username' | rftranslate">
        </rf-inputtext>
        <rf-inputtext name="password" [(ngModel)]="this.loginModel['password']" [model]="this.loginModel"
            [property]="'password'" [required]="true" [size]="30" [label]="'i18nAppCore.login.password' | rftranslate">
        </rf-inputtext>
        <button type="button" class="LoginButtonComponent" (click)="this.login()">
        </button>
    </div>
</div>